<h1>FORMS</h1>
<h1>Hero form</h1>
<div [hidden]="submitted==true">
	<form *ngIf="active" #heroform="ngForm">
		<!-- <span>{{diagnostic}}</span> -->
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" id="name" class="form-control" required [(ngModel)]="model.name" name="nombre" #nam="ngModel">
			<div class="alert alert-danger" [hidden]="nam.valid||nam.pristine">The name is required</div>
		</div>
		<div class="form-group">
			<label for="alterego">Alter ego:</label>
			<input type="text" id="alterEgo" class="form-control" [(ngModel)]="model.alterEgo" name="alterego">
		</div>
		<div class="form-group">
			<label for="poderes">Powers:</label>
			<select class="form-control" id="power" required [(ngModel)]="model.power" name="poderes" #pows="ngModel">
				<option value="">-select-</option>
				<option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
			</select>
			<div class="alert alert-danger" [hidden]="pows.valid||pows.pristine">The power is required</div>
		</div>
		<button type="button" class="btn btn-default" (click)="newHero()">New hero</button>
		<button type="submit" class="btn btn-default" [disabled]="!heroform.form.valid" (click)="onSubmit()">Submit!</button>
	</form>
</div>
<div [hidden]="submitted==false">
	<h2>You submited the following:</h2>
	<div class="row">
		<div class="col-xs-3">Name:</div>
		<div class="col-xs-9 pull-left">{{model.name}}</div>
	</div>
	<div class="row">
		<div class="col-xs-3">Alter ego</div>
		<div class="col-xs-9 pull-left">{{model.alterEgo}}</div>
	</div>
	<div class="row">
		<div class="col-xs-3">Power:</div>
		<div class="col-xs-9 pull-left">{{model.power}}</div>
	</div><br>
	<button class="btn btn-default" (click)="editHero()">Edit hero</button>
</div>