<h1>
  {{title}}
</h1>
<div class="col-md-2">
	<div class="btn-group-vertical" role="group">
		<button type="button" class="btn btn-default" routerLink="event-binding">Example 1</button>
		<button type="button" class="btn btn-default" routerLink="directiva-estructural">Example 2</button>
		<button type="button" class="btn btn-default" routerLink="property-binding">Example 3</button>
	</div>
</div>
<div class="col-md-10">
	<router-outlet></router-outlet>
</div>
<!-- <h2>{{cadena}}</h2> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <app-evt-custom (Myclick)="clickear()"></app-evt-custom> -->
<!-- <app-user-item></app-user-item> -->
<!-- <app-peli-comp></app-peli-comp> -->
<!-- <app-user-list></app-user-list><br><br> -->
<!-- <app-switch-dir></app-switch-dir> -->
<!-- <app-attr-dir></app-attr-dir> -->
<!-- <app-input-in-view></app-input-in-view> -->
<!-- <app-inject></app-inject> -->
<!-- <hero-form></hero-form> -->
<!-- <div class="container"> 
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<app-forms2></app-forms2>
		</div>
	</div>
</div>-->

<!-- Por default, todos los componentes que se adicionen posteriormente se podran mostrar en la vista si el selector lo escribimos aqui como etiqueta. -->