<h1>
  {{title}}
</h1>

<div class="col-md-3">
	<div class="btn-group-vertical" style="width: 100%;">
		<button type="button" class="btn btn-default" routerLink="directiva-estructural">Directivas estructurales</button>
		<button type="button" class="btn btn-default" routerLink="property-binding">Property binding</button>
		<button type="button" class="btn btn-default" routerLink="evt-binding-custom">Event binding custom</button>
		<button type="button" class="btn btn-default" routerLink="ng-switch">NgSwitch</button>
		<button type="button" class="btn btn-default" routerLink="directivas-atributo">Directivas atributo</button>
		<button type="button" class="btn btn-default" routerLink="servicios">Servicios</button>
		<button type="button" class="btn btn-default" routerLink="dependency-injection">Inyección de dependencias</button>
		<button type="button" class="btn btn-default" routerLink="forms">Forms</button>
		<button type="button" class="btn btn-default" routerLink="temp-driv-form">Template driven forms</button>
		<button type="button" class="btn btn-default" routerLink="observ">Observables</button>
		<button type="button" class="btn btn-default" routerLink="mysqltry">MySQL query (intento)</button>		
	</div>
</div>
<div class="col-md-9">
		<router-outlet></router-outlet>
</div>
<!-- <h2>{{cadena}}</h2> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <app-evt-custom (Myclick)="clickear()"></app-evt-custom> -->
<!-- <app-user-item></app-user-item> -->
<!-- <app-peli-comp></app-peli-comp> -->
<!-- <app-user-list></app-user-list><br><br> -->
<!-- <app-switch-dir></app-switch-dir> -->
<!-- <app-attr-dir></app-attr-dir> -->
<!-- <app-input-in-view></app-input-in-view> -->
<!-- <app-inject></app-inject> -->
<!-- <hero-form></hero-form> -->
<!-- <div class="container"> 
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<app-forms2></app-forms2>
		</div>
	</div>
</div>-->

<!-- Por default, todos los componentes que se adicionen posteriormente se podran mostrar en la vista si el selector lo escribimos aqui como etiqueta. -->